@font-face {
  src: url(../fonts/SamsungSans-Regular.woff);
  font-family: 'SamsungSans-Regular';
  font-weight: normal;
} 
* {
	user-select: none;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	margin: 0;
	padding: 0;
}
body {
	background: url('https://assets.codepen.io/285131/colorbg.jpg');
}
.root {
	font-family: 'SamsungSans-Regular';
	position: absolute;
	color: white;
	border-radius: 20px;
  overflow: hidden;
}
.root .main {
	display: flex;
	width: 300px;
	justify-content: center;
	height: 600px;
	background: rgba(21, 21, 21, 1);
	border-radius: 20px;
	border: solid 2px #d9dbdc;
}
.root .main .screen {
	margin: 7px 6px 7px 6px;
	height: 586px;
	width: 100%;
	background: url('https://cdn.discordapp.com/attachments/832460992196640829/833132876396101652/FundoIphone2.png');
	border-radius: 10px;
}
.root .main .screen:after,.root .main .screen:before {
  content: "";
  position: absolute;
  background: white;
  height: 100%;
  width: 15px;
  opacity: 0.1;
  border-radius: 20px;
  filter: blur(1px);
  top: 0;
}
.root .main .screen:after {
  left: -1px
}
.root .main .screen:before {
  right: -1px;
}
.root .main .screen .buttons-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 100%;
	background: rgba(49, 18, 18, 10%);
	border-radius: 10px;
}
.root .main .screen .buttons-top .horario {
	padding: 5px 10px;
}
.root .main .screen .buttons-top .camera {
	display: flex;
	justify-content: center;
	border-radius: 30px;
	margin: 7px;
	background: #150d0d;
	height: 11px;
	width: 11px;
	border: 2px solid rgba(255, 255, 255, 0.05);
	margin-left: 10px;
}
.root .main .screen .buttons-top .camera .camera1 {
	background: #1b1b52;
	width: 6px;
	height: 6px;
	border-radius: 10px;
	margin-top: 2.5px;
	filter: blur(1px);
}
.root .main .screen .buttons-top .bateria {
	margin: 3px 10px;
}
.root .main .screen .buttons-top .bateria svg {
	width: 17px;
	opacity: 0.8;
	fill: white;
}
.root .main .screen .apps {
	width: 248px;
	height: 415px;
  flex-wrap: wrap;
  display: flex;
	justify-content: center;
  margin: 10px 20px;
}
.root .main .screen .apps .time {
	text-shadow: 0.1em 0.1em 0.2em black;
  margin: 25px 0 51px 0;
  font-size: 70px;
}
.root .main .screen .apps .time .data {
  font-size: 13px;
	margin-left: -10px;
}
.root .main .screen .icons {
	display: flex;
	flex-wrap: wrap;
  width: 90%;
	justify-content: center;
  position: absolute;
  bottom: 80px;
}
.root .main .screen .icons .icon {
  width: 43px;
  height: 43px;
  padding: 5px 10px;
}
.root .main .screen .buttons {
	background: rgb(4 4 4 / 20%);
	display: flex;
	justify-content: center;
	width: 287px;
	height: 45px;
	position: absolute;
	border-radius: 10px;
	border-top-left-radius: 0;
  border-top-right-radius: 0;
	bottom: 5px;
}
.root .main .screen .buttons .left, .center, .right {
	margin-top: 10px;
	height: 17px;
	width: 17px;
	padding: 0 27px;
}
.root .main .screen .whatsapp {
  width: 100%;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header {
  width: 100%;
  background: rgba(11,97,86,1);
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  flex-wrap: wrap;
	transition: 1s;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header .search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header .search .logo {
  width: 30%;
  padding: 10px 10px;
  font-size: 14px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header .search svg {
  padding: 10px;
  width: 18px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header .whatsappconversas {
  padding: 0 10px;
  border-bottom: 4px solid white;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header .whatsapp-status {
  padding: 0 10px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-header .whatsapp-chamada {
  padding: 0 10px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body {
  width: 100%;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa {
  width: 100%;
  height: 57px;
  margin: 7px;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa .profile {
  width: 50px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa .profile img {
  padding-top: 4px;
  border-radius: 30px;
  width: 47px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa .contato {
  width: 208px;
  height: 100%;
  margin: 0px 0 0 10px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa .contato .nome {
  width: 50%;
  height: 50%;
	color: black;
	font-size: 17px;
	overflow: hidden;
	font-weight: 600;
	line-height: 38px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa .contato .msg-data {
  width: 50%;
  height: 50%;
	color: gray;
	text-align: end;
	font-size: 10px;
	line-height: 41px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .conversas .conversa .contato .msg {
  width: 100%;
	color: gray;
	font-size: 13px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .new-chat {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #26b326;
  border-radius: 46px;
  bottom: 65px;
  right: 22px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .new-chat svg {
  padding: 10px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status {
  width: 100%;
  height: 57px;
  margin: 7px;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status .img-status {
  width: 50px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status img {
  padding-top: 4px;
  border-radius: 30px;
  width: 47px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status .img-status .more {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: -21px 0 0 31px;
  background: #26b326;
  border-radius: 20px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status .img-status .more svg {
  fill: white;
  padding: 4px;
  width: 10px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status .info-status {
  width: 208px;
  height: 100%;
  padding: 4px 0 0 13px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status .info-status .nome {
  width: 100%;
  height: 50%;
  color: black;
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .meu-status .info-status .data {
  width: 100%;
  height: 50%;
  color: gray;
  font-size: 11px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .contatos-status .status-recente .info {
  color: gray;
  padding: 0 7px;
  font-size: 10px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .contatos-status .status-recente .status-recente-view {
  width: 95%;
  height: 57px;
  margin: 7px;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .contatos-status .status-recente .status-recente-view .status-recente-view-img img {
  width: 47px;
  border-radius: 30px;
  padding-top: 4px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .contatos-status .status-recente .status-recente-view .status-recente-view-info {
  width: 208px;
  height: 100%;
  padding: 4px 0 0 13px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .contatos-status .status-recente .status-recente-view .status-recente-view-info .nome {
  width: 100%;
  height: 50%;
  color: black;
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .contatos-status .status-recente .status-recente-view .status-recente-view-info .data {
  width: 100%;
  height: 50%;
  color: gray;
  font-size: 11px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .new-text {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #323332;
  border-radius: 46px;
  bottom: 120px;
  right: 26px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .new-text svg {
  fill: white;
  padding: 8px;
  width: 20px;
  height: 20px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .new-picture {
	position: absolute;
  width: 45px;
  height: 45px;
  background: #26b326;
  border-radius: 46px;
  bottom: 65px;
  right: 22px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .status .new-picture svg {
	fill: white;
  padding: 10px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada {
  width: 100%;
  height: 57px;
  margin: 7px;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-img img {
  padding-top: 4px;
  border-radius: 30px;
  width: 47px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-info {
  width: 160px;
  height: 100%;
  padding: 4px 0 0 13px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-info .nome {
  width: 100%;
  height: 50%;
  color: black;
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-info .data {
  width: 100%;
  height: 50%;
	color: gray;
  font-size: 11px;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-info .data .data-svg {
  width: 11%;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-info .data .data-svg svg {
  width: 13px;
  fill: green;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-info .data .data-info {
  width: 89%;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-icon {
  width: 50px;
  height: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 4px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .chamada .chamada-icon svg {
  width: 20px;
  height: 20px;
  fill: green;
  padding: 15px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .new-chamada {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #26b326;
  border-radius: 46px;
  bottom: 65px;
	right: 22px;
}
.root .main .screen .whatsapp .whatsapp-main .whatsapp-body .chamadas .new-chamada svg {
	padding: 10px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header {
  width: 100%;
  height: 40px;
  background: #0b6156;
  display: flex;
  flex-wrap: wrap;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-chat {
  height: 40px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-chat svg {
  padding: 10px;
  fill: white;
  height: 20px;
  width: 20px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .img-profile {
  width: 40px;
  height: 40px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .img-profile img {
  width: 35px;
  border-radius: 20px;
  padding-top: 2px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .contato {
  padding: 0 3px;
  width: 110px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .contato .visto {
  font-size: 10px;
  color: white;
  line-height: 20px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-video {
  width: 32px;
  padding-top: 3px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-video svg {
  fill: white;
  padding-top: 2px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-ligacao {
  width: 32px;
  padding-top: 3px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-ligacao svg {
  fill: white;
  padding: 2px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-more {
  padding-top: 3px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-header .icon-more svg {
  fill: white;
  padding: 2px;
}
.root .main .screen .whatsapp .whatsapp-chat  .chat-call-min,
.root .main .screen .whatsapp .whatsapp-main .main-call-min {
  width: 100%;
  height: 30px;
  background: #48ec48;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-call-min .texto,
.root .main .screen .whatsapp .whatsapp-main .main-call-min .texto {
  font-size: 14px;
  padding: 7px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-call-min .tempo,
.root .main .screen .whatsapp .whatsapp-main .main-call-min .tempo {
  padding: 8px 5px 5px 51px;
  font-size: 13px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat {
  overflow-y: scroll;
  width: 96%;
  height: 420px;
  margin: 5px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat::-webkit-scrollbar {
  display: none;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-recebida {
  width: 100%;
  height: min-content;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-recebida .msg {
  background: #215b5d;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border-top-left-radius: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-recebida .msg .texto, 
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-enviada .msg .texto {
  padding: 0 5px;
  font-size: 15px;
	word-break: break-all;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-recebida .msg .horario,
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-enviada .msg .horario {
  font-size: 9px;
  padding-top: 8px;
  color: #cecece;
  width: 25px;
  height: 15px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-recebida .msg .check,
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-enviada .msg .check {
  width: 17px;
  height: 22px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-recebida .check svg,
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-enviada .msg .check svg {
  width: 11px;
  height: 11px;
  padding-top: 8px;
  padding-left: 3px;
  fill: #cecece;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-enviada .msg {
  background: #215b5d;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border-top-right-radius: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-chat .chat .msg-enviada {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: flex-end;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send {
  width: 97%;
  height: 40px;
  display: flex;
  margin: 0 5px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send .text-chat {
  width: 85%;
  margin-right: 5px;
  border-radius: 20px;
  background: #464545;
	display: flex;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send .text-chat input {
  margin: 7px 5px;
  width: 157px;
  height: 26px;
  background: inherit;
  color: white;
  font-size: 14px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send .text-chat .emoticons svg {
  fill: #cecece;
  padding: 8px 0 8px 8px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send .text-chat .picture svg {
  fill: #cecece;
  padding-top: 9px;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send .button-chat {
  width: 15%;
  border-radius: 20px;
  background: #26b326;
}
.root .main .screen .whatsapp .whatsapp-chat .chat-send .button-chat svg {
  padding: 8px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat {
  height: 45px;
  width: 100%;
  background: #0b6156;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat .icon-new-chat svg {
  width: 20px;
  height: 20px;
  fill: white;
  padding: 10px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat .contatos-chat {
  width: 155px;
  margin-left: 5px;
  padding-top: 3px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat .contatos-chat .title-new-chat {
  width: 100%;
  height: 50%;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat .contatos-chat .contatos-num {
  height: 50%;
  width: 100%;
  font-size: 10px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat .search-new-chat svg {
  padding: 10px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .header-new-chat .more-new-chat svg {
  padding: 10px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos {
  overflow-y: scroll;
  width: 96%;
  height: 460px;
  margin: 5px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos::-webkit-scrollbar {
	display: none;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-grupo,
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-contato {
  width: 100%;
  height: 50px;
  display: flex;
	margin-bottom: 5px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-grupo .grupo-icon,
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-contato .contato-icon {
  padding: 5px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-grupo .grupo-icon .icon,
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-contato .contato-icon .icon {
  width: 40px;
  height: 40px;
  background: #26b326;
  border-radius: 20px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-grupo .grupo-icon .icon svg,
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-contato .contato-icon .icon svg {
  width: 30px;
  height: 30px;
  fill: white;
  padding: 4px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-grupo .grupo,
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .novo-contato .contato {
  color: black;
  width: 100%;
  line-height: 51px;
  padding-left: 7px;
  font-weight: 600;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .contato {
  display: flex;
  width: 100%;
  height: 50px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .contato .contato-img {
  padding: 5px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .contato .contato-img img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .contato .contato-info {
  width: 100%;
  padding-left: 7px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .contato .contato-info .name {
  width: 100%;
  height: 50%;
  color: black;
  font-weight: 600;
  line-height: 30px;
}
.root .main .screen .whatsapp .whatsapp-new-chat .contatos .contato .contato-info .status {
  width: 100%;
  height: 50%;
  color: #cecece;
  font-size: 14px;
}
.root .main .screen .whatsapp .whatsapp-call .header {
  width: 100%;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  background: #0b6156;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top {
  width: 100%;
  height: 25px;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top .top-icon {
  width: 35px;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top .top-icon svg {
  padding: 0 5px;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top .top-info {
  width: 100%;
  text-align: center;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top .top-info .info-icon {
  width: 25px;
  height: 20px;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top .top-info svg {
	width: 10px;
  fill: white;
  height: 10px;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-top .top-info .info-texto {
  font-size: 10px;
  padding-top: 5px;
  width: 210px;
}
.root .main .screen .whatsapp .whatsapp-call .header  .header-middle {
  width: 100%;
  text-align: center;
}
.root .main .screen .whatsapp .whatsapp-call .header .header-bottom {
  font-size: 10px;
  width: 100%;
  text-align: center;
}
.root .main .screen .whatsapp .whatsapp-call .profile {
  width: 100%;
  height: 375px;
  background: url('https://cdn.discordapp.com/attachments/758616655382577152/834857189184372786/knonet.png');
  display: flex;
  justify-content: center;
}
.root .main .screen .whatsapp .whatsapp-call .profile .end-call {
  margin-top: 295px;
}
.root .main .screen .whatsapp .whatsapp-call .profile .end-call .call-icon {
  width: 45px;
  height: 45px;
  background: #b71212;
  border-radius: 30px;
}
.root .main .screen .whatsapp .whatsapp-call .profile .end-call svg {
  width: 35px;
  height: 35px;
  fill: white;
  padding: 5px;
}
.root .main .screen .whatsapp .whatsapp-call .controls {
  width: 100%;
  height: 55px;
  background: #0b6156;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-call .controls .volume {
  width: 33%;
}
.root .main .screen .whatsapp .whatsapp-call .controls .volume svg {
  padding: 15px 20px 15px 42px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-call .controls .video {
  width: 33%;
}
.root .main .screen .whatsapp .whatsapp-call .controls .video svg {
  padding: 15px 20px 15px 38px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-call .controls .microfone {
  width: 33%;
}
.root .main .screen .whatsapp .whatsapp-call .controls .microfone svg {
  padding: 15px 20px 15px 30px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-header {
  width: 100%;
  height: 50px;
  background: #23242e;
  display: flex;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-header svg {
  padding: 13px;
  fill: white;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-header .new-contacs-text {
  padding: 15px 2px;
  width: 175px;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-header .new-contacs-save {
  font-size: 12px;
  color: #3939bb;
  padding: 18px 10px;
  font-weight: 1000;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body {
  width: 100%;
  height: 506px;
  background: #23242e;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
	align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .icon-contacts {
  width: 100%;
  height: 80px;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .icon-contacts svg {
  width: 48px;
  height: 50px;
  fill: #3539b6;
  padding: 20px 120px;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .nome {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .nome input[name="nome"] {
  background: #23242e;
  border: solid 1px white;
  border-radius: 5px;
  width: 205px;
  font-size: 17px;
  color: white;
  padding: 0 10px;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .sobrenome {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .sobrenome input[name="sobrenome"] {
  background: #23242e;
  border: solid 1px white;
  border-radius: 5px;
  width: 205px;
  font-size: 17px;
  color: white;
  padding: 0 10px;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .telefone {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.root .main .screen .whatsapp .whatsapp-new-contacs .new-contacs-body .telefone input[name="telefone"] {
  background: #23242e;
  border: solid 1px white;
  border-radius: 5px;
  width: 205px;
  font-size: 17px;
 	color: white;
  padding: 0 10px;
}
.message .message-main .header-main {
  width: 93%;
  height: 45px;
  margin: 10px;
  background: #2c2d3a;
  border-radius: 10px;
  display: flex;
}
.message .message-main .header-main .header-search svg {
  padding: 10px;
  fill: white;
}
.message .message-main .header-main input[name="search"] {
  background: #2c2d3a;
  font-size: 15px;
  color: white;
  width: 180px;
}
.message .message-main .header-main .header-more svg {
  padding: 10px;
  fill: white;
}
.message .message-main .body-main {
  width: 100%;
  height: 491px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
}
.message .message-main .body-main::-webkit-scrollbar {
  display: none;
}
.message .message-main .body-main .messages {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.message .message-main .body-main .messages .message {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 10px;
}
.message .message-main .body-main .messages .message .picture {
  padding-right: 10px;
}
.message .message-main .body-main .messages .message .picture .icon-picture {
  width: 40px;
  height: 40px;
  background: #2db34a;
  border-radius: 20px;
  margin-top: 5px;
}
.message .message-main .body-main .messages .message .picture .icon-picture svg {
  padding: 7px 8px;
}
.message .message-main .body-main .messages .message  .message-text {
  width: 197px;
}
.message .message-main .body-main .messages .message .message-text .title {
  width: 100%;
  height: 50%;
  line-height: 25px;
}
.message .message-main .body-main .messages .message .message-text .text {
  width: 100%;
  height: 50%;
  font-size: 10px;
  line-height: 20px;
}
.message .message-main .body-main .messages .message .message-date {
  font-size: 10px;
  text-align: center;
  padding-top: 11px;
}
.message .message-chat .header-chat {
  width: 100%;
  height: 50px;
  display: flex;
}
.message .message-chat .header-chat .icon-chat svg {
  width: 24px;
  height: 24px;
  fill: white;
  padding: 13px;
}
.message .message-chat .header-chat .number-chat {
 	width: 124px;
  padding: 15px 0 15px 10px;
}
.message .message-chat .header-chat .call-chat svg {
  padding: 13px 8px;
  fill: white;
  width: 22px;
  height: 22px;
}
.message .message-chat .header-chat .search-chat svg {
  width: 17px;
  height: 17px;
  padding: 15px 8px;
  fill: white;
}
.message .message-chat .header-chat .more-chat svg {
  width: 17px;
  height: 17px;
  fill: white;
  padding: 15px 8px;
}
.message .message-chat .chat {
  width: 100%;
  height: 415px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}
.message .message-chat .chat::-webkit-scrollbar {
  display: none;
}
.message .message-chat .chat-send {
  width: 97%;
  height: 40px;
  display: flex;
  margin: 5px 5px;
  align-items: center;
}
.message .message-chat .chat-send .more-send svg {
  fill: #3539b6;
  padding: 0 5px;
}

.message .message-chat .chat-send .picture-send svg {
  fill: #3539b6;
}
.message .message-chat .chat-send .chat-send-box {
  margin: 0 2px 0 10px;
  width: 205px;
  height: 37px;
  background: #2c2d3a;
  border: 1px solid #3c3c3c;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.message .message-chat .chat-send .chat-send-box input[name="send-message"] {
  background: #2c2d3a;
  height: inherit;
  border-radius: inherit;
  padding: 0 10px;
  width: 125px;
  color: white;
}

.message .message-chat .chat-send .chat-send-box .icon-emojis svg,
.message .message-chat .chat-send .chat-send-box .icon-send svg {
  width: 20px;
  height: 20px;
  fill: #3539b6;
  padding-top: 4px;
  margin: 0 4px;
}
.message .message-chat .chat .chat-time {
  width: 100%;
  margin: 5px 0;
}

.message .message-chat .chat .chat-time .time {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.message .message-chat .chat .chat-time .chat-messages .mensagem-recebida {
  width: 93%;
  margin: 10px;
  display: flex;
}

.message .message-chat .chat .chat-time .chat-messages .mensagem-recebida .profile .bg-profile {
  width: 35px;
  height: 35px;
  background: #2db34a;
  border-radius: 20px;
}
.message .message-chat .chat .chat-time .chat-messages .mensagem-recebida .profile .bg-profile svg {
  padding: 5px;
}

.message .message-chat .chat .chat-time .chat-messages .mensagem-recebida .profile {
  width: 50px;
  height: 100%;
}
.message .message-chat .chat .chat-time .chat-messages .mensagem-recebida .chat-texto .texto {
  background: #2c2d3a;
  padding: 10px 10px;
  border-radius: 30px;
  border-top-left-radius: 0;
  margin: 5px 9px;
  word-break: break-word;
  font-size: 12px;
}
.message .message-chat .chat .chat-time .chat-messages .mensagem-enviada {
  width: 97%;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.message .message-chat .chat .chat-time .chat-messages .mensagem-enviada .chat-texto .texto {
  background: #3539b6;
  padding: 10px 10px;
  border-radius: 30px;
  border-top-right-radius: 0;
  margin: 5px 9px;
  word-break: break-word;
  font-size: 12px;
}
.message .message-main .body-main .new-chat {
  position: absolute;
  bottom: 65px;
  right: 28px;
  display: flex;
  width: 92px;
  height: 40px;
  background: #3539b6;
  border-radius: 30px;
}

.message .message-main .body-main .new-chat .new-icon svg {
  fill: white;
  width: 18px;
  height: 18px;
  padding: 10px;
}

.message .message-main .body-main .new-chat .new-text {
  font-size: 12px;
  padding-top: 6px;
}
.root .main .screen .numbers .contatos-main .header-main {
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}

.root .main .screen .numbers .contatos-main .header-main .header-search {
  width: 100%;
  margin: 10px;
  background: #2c2d3a;
  height: 35px;
  border-radius: 10px;
  display: flex;
}

.root .main .screen .numbers .contatos-main .header-main .header-more {
  width: 100%;
  font-size: 10px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.root .main .screen .numbers .contatos-main .header-main .header-search .icon-menu svg {
  padding: 5px;
  fill: #8d8fa0;
}

.root .main .screen .numbers .contatos-main .header-main .header-search input[name="search-contacts"] {
  padding: 10px;
  background: inherit;
  color: white;
	width: 185px;
}

.root .main .screen .numbers .contatos-main .header-main .header-search .icon-more svg {
  fill: #8d8fa0;
  padding-top: 5px;
}
.root .main .screen .numbers .contatos-main .body-main {
  width: 100%;
  height: 465px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: scroll;
}
.root .main .screen .numbers .contatos-main .body-main::-webkit-scrollbar {
  display:none;
}

.root .main .screen .numbers .contatos-main .body-main .contatos {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.root .main .screen .numbers .contatos-main .body-main .contatos .contato {
  width: 100%;
  height: 50px;
  margin: 5px;
  display: flex;
}

.root .main .screen .numbers .contatos-main .body-main .contatos .contato .lt-contato {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3539b6;
  font-weight: bold;
  padding-right: 10px;
}

.root .main .screen .numbers .contatos-main .body-main .contatos .contato .img-contato {
  width: 40px;
  height: 40px;
  background: #2db34a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24px;
}

.root .main .screen .numbers .contatos-main .body-main .contatos .contato .nome-contato {
  width: 165px;
  padding: 10px;
}