@font-face {
  src: url(../fonts/SamsungSans-Regular.woff);
  font-family: 'SamsungSans-Regular';
  font-weight: normal;
} 
* {
	user-select: none;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	margin: 0;
	padding: 0;
}
body {
	background: url('https://assets.codepen.io/285131/colorbg.jpg');
}
.hidden {
	display: none;
}
.cellphone {
	font-family: 'SamsungSans-Regular';
	position: absolute;
	bottom: 2rem;
	right: 5rem;
	color: white;
	border-radius: 20px;
  overflow: hidden;
	background: black;
	border: solid 2px #d9dbdc;
}
.cellphone:after,.cellphone:before {
  content: "";
  position: absolute;
  background: white;
  height: 100%;
  width: 15px;
  opacity: 0.1;
  border-radius: 20px;
  filter: blur(1px);
  top: 0;
}
.cellphone:after {
  left: -1px
}
.cellphone:before {
  right: -1px;
}
.cellphone .screen .screens {
	display: flex;
	width: 300px;
	justify-content: center;
	height: 600px;
}
.cellphone .screen .screens .app-screen {
	margin: 7px 6px 7px 6px;
	height: 586px;
	width: 100%;
	border-radius: 10px;
}
.cellphone .screen .top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 100%;
	background: rgba(49, 18, 18, 10%);
	border-radius: 10px;
}
.cellphone .screen .top-bar .horario {
	padding: 5px 10px;
}
.cellphone .screen .top-bar .camera {
	display: flex;
	justify-content: center;
	border-radius: 30px;
	margin: 7px;
	background: #150d0d;
	height: 11px;
	width: 11px;
	border: 2px solid rgba(255, 255, 255, 0.05);
	margin-left: 10px;
}
.cellphone .screen .top-bar .camera .camera1 {
	background: #1b1b52;
	width: 6px;
	height: 6px;
	border-radius: 10px;
	margin-top: 2.5px;
	filter: blur(1px);
}
.cellphone .screen .top-bar .bateria {
	margin: 3px 10px;
}
.cellphone .screen .top-bar .bateria > svg {
	width: 17px;
	opacity: 0.8;
	fill: white;
}
.cellphone .screen .screens .app-screen .apps {
	width: 248px;
	height: 415px;
  flex-wrap: wrap;
  display: flex;
	justify-content: center;
  margin: 10px 20px;
}
.cellphone .screen .screens .app-screen .apps .time {
	text-shadow: 0.1em 0.1em 0.2em black;
  margin: 25px 0 51px 0;
  font-size: 70px;
}
.cellphone .screen .screens .app-screen .apps .time .data {
  font-size: 13px;
	margin-left: -10px;
}
.cellphone .screen .screens .app-screen .icons {
	display: flex;
	flex-wrap: wrap;
  width: 90%;
	justify-content: center;
  position: absolute;
  bottom: 80px;
}
.cellphone .screen .screens .app-screen .icons .icon {
  width: 43px;
  height: 43px;
  padding: 5px 10px;
}
.cellphone .screen .bottom-buttons {
	background: rgb(4 4 4 / 20%);
	display: flex;
	justify-content: center;
	width: 295px;
	height: 45px;
	position: absolute;
	border-radius: 10px;
	border-top-left-radius: 0;
  border-top-right-radius: 0;
	bottom: 5px;
}
.cellphone .screen .bottom-buttons .left, .center, .right {
	margin: 4px;
	height: 17px;
	width: 17px;
	padding: 0 27px;
	cursor: pointer;
}

.cellphone .screen .bottom-buttons .left:active, .center:active, .right:active {
	background: #d9dbdc;
}